@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #17141d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  justify-content: space-between;
}
header {
  font-family: "Press Start 2P";
  font-weight: 900;
  /* font-style: italic; */
  font-size: larger;
  text-transform: uppercase;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
figure {
  width: fit-content;
  border: white 1px solid;
  padding-bottom: 5px;
}
figcaption {
  margin-left: 5px;
}
.coin-toss {
  border: white 1px solid;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;
}

.coin-toss-result-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.random-image {
  max-width: 42.5vw;
}

@media only screen and (max-width: 600px) {
  .random-image {
    max-width: 85vw;
  }
}

a {
  color: white;
}

footer {
  margin-top: 10px;
  text-align: end;
}
